* {
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    margin: 0;
}

#main_container {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #122d34;
    padding: 20px 10px 20px 20px;
    display: flex;
}

#logo_and_name {
    flex-grow: 4;
    display: flex;
    gap: 15px;
}

#logo {
    width: 100px;
    height: 100px;
}

#header #clg_name {
    color: white;
    font-size: 35px;
}

#header #clg_addr {
    color: white;
    font-size: 20px;
}

#nav_bar {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

#nav_bar > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-right: 1px solid white;
}

#nav_bar > a:hover {
    background-color: #b9a87d;
}

#nav_bar > a:last-child {
    border: none;
}

/* main */

#main {
    background-image: url("./images/home/round-clg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 900px;
}

#clg_info {
    padding-top: 80px;
    padding-left: 50px;
    font-weight: 500;
}

#clg_info > :first-child {
    font-size: 60px;
}

#clg_info :nth-child(2) {
    font-size: 45px;
}

#clg_info :nth-child(3) {
    font-size: 20px;
    margin-bottom: 10px;
}

.tag {
    color: white;
    background-color: black;
    padding: 2px 5px 2px 5px;
}

.tag a {
    text-decoration: none;
    color: white;
}

#mission {
    margin-top: 80px;
    padding-top: 20px;
    padding-left: 50px;
    width: 900px;
    border-radius: 150px;
    background-color: white;
}

#mission > p {
    font-size: 15px;
    word-spacing: 10px;
}

#social_media {
    text-orientation: sideways;
    writing-mode: vertical-rl;
    padding-top: 10px;
    padding-bottom: 10px;
}

#social_media_bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

#social_media_bar a {
    text-decoration: none;
    color: black;
}

/* course  */

#course_heading {
    font-size: 35px;
    font-weight: 500;
    padding: 20px 10px 20px 20px;
}

#course_heading > span {
    border-bottom: 3px solid black;
}
