* {
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    margin: 0;
}

#main_container {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #122d34;
    padding: 20px 10px 20px 20px;
    display: flex;
}

#logo_and_name {
    flex-grow: 4;
    display: flex;
    gap: 15px;
}

#logo {
    width: 100px;
    height: 100px;
}

#header #clg_name {
    color: white;
    font-size: 35px;
}

#header #clg_addr {
    color: white;
    font-size: 20px;
}

#nav_bar {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

#menu_icon {
    padding: 0px 3px 0px 3px;
    font-size: 50px;
    color: white;
    display: none;
    cursor: pointer;
}

.show_hide {
    display: none !important;
}

@media screen and (max-width: 992px) {
    #header {
        flex-direction: column;
    }
    #nav_bar {
        flex-direction: column;
    }
    #nav_bar > a {
        border: none !important;
    }
    #menu_icon {
        display: inline;
    }

    #header #clg_name {
        font-size: 25px;
    }

    #header #clg_addr {
        font-size: 10px;
    }
}

#nav_bar > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-right: 1px solid white;
}

#nav_bar > a:hover {
    background-color: #b9a87d;
}

#nav_bar > a:last-child {
    border: none;
}

/* main */

#main {
    background-image: url("./images/home/round-clg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 900px;
}

@media screen and (max-width: 992px) {
    #main {
        background-image: none;
        background-color: #e7e7e7;
    }
}

#clg_info {
    padding-top: 80px;
    padding-left: 50px;
    font-weight: 500;
}

#clg_info > :first-child {
    font-size: 60px;
}

#clg_info :nth-child(2) {
    font-size: 45px;
}

#clg_info :nth-child(3) {
    font-size: 20px;
    margin-bottom: 10px;
}

.tag {
    color: white;
    background-color: black;
    padding: 2px 5px 2px 5px;
}

.tag a {
    text-decoration: none;
    color: white;
}

#mission {
    margin-top: 80px;
    padding-top: 20px;
    padding-left: 50px;
    max-width: 900px;
    width: 100%;
    border-radius: 150px;
    background-color: white;
}

@media screen and (max-width: 992px) {
    #mission {
        border-radius: 0px;
        padding-right: 10px;
    }
}

#mission > p {
    font-size: 15px;
    word-spacing: 10px;
}

#social_media {
    text-orientation: sideways;
    writing-mode: vertical-rl;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    #social_media_bar {
        background-color: white;
        padding-right: 20px;
    }
}

#social_media_bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

@media screen and (max-width: 992px) {
    #social_media_bar {
        justify-content: space-between;
    }
    #social_media_bar > span {
        display: none;
    }
}

#social_media_bar a {
    text-decoration: none;
    color: black;
}

/* course  */

#courses {
    padding: 20px 10px 20px 20px;
}

#course_heading {
    font-size: 35px;
    font-weight: 500;
}

#course_heading > span {
    border-bottom: 3px solid black;
}

.card {
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.49);
    padding: 50px 50px 50px 50px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 10px solid black;
}

.card > span {
    position: absolute;
    right: 0;
    bottom: 0;
}

.card_container {
    padding-top: 30px;
}

.course_name {
    font-weight: bold;
    font-size: x-large;
}

.course_title {
    font-size: small;
}

#avail_courses {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* events */
#events_heading {
    padding: 20px 10px 20px 20px;
    font-size: 35px;
    font-weight: 500;
    color: #b9a87d;
}

#events {
    background-image: url("./images/home/hcworker.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1992px;
    margin: 0 auto;
    padding-left: 60px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: white;
    top: 0;
    bottom: 0;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    max-width: 900px;
    width: 100%;
}

/* The circles on the timeline */
.container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    position: relative;
    border-radius: 1px;
    color: white;
    font-size: 13px;
}

/* provide */

#provide {
    padding: 20px 10px 20px 20px;
    background-color: #f6f5fa;
}

#provide_heading {
    font-size: 35px;
    font-weight: 500;
}

#provide_heading > span {
    border-bottom: 3px solid black;
}

#main_row {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    #main_row {
        flex-direction: column;
    }
}

.sub_row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 20px 20px 20px;
}

.heading {
    color: #b9a87d;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

.pr_img {
    text-align: center;
}

.pr_img > img {
    width: 120px;
}

#provide_content {
    background-color: white;
    border-radius: 15px;
    margin: 15px 15px 15px 15px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.49);
}

.desc {
    font-size: medium;
}

/* footer */
#contact_us {
    padding: 20px 40px 0px 40px;

    background-image: url("./images/home/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

@media screen and (max-width: 992px) {
    #contact_container {
        flex-direction: column !important;
        gap: 20px;
    }
}

#contact_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact_container th {
    color: #b9a87d;
    text-align: left;
    font-size: larger;
}

#contact_container td {
    color: white;
    text-align: left;
}

/* gallery */

#gallery {
    padding: 20px 40px 20px 40px;
    background-color: #e3e7ea;
}

#gallery_heading {
    font-size: 35px;
    font-weight: 500;
    text-align: right;
}

#gallery_heading > span {
    border-bottom: 3px solid black;
}

#image_bar {
    display: flex;
    justify-content: space-between;
}

#image_bar img {
    width: 400px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}

#image_bar img:hover {
    scale: 1.1;
    cursor: pointer;
}

#gallery_content {
    padding: 10px;
}

@media screen and (max-width: 992px) {
    #image_bar {
        flex-direction: column !important;
        gap: 20px;
    }
}

#gallery_car {
    padding-bottom: 30px;
    display: flex;
}

#gall_car_main_img > img {
    width: 500px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
}

#car_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#car_heading {
    padding-top: 50px;
    color: #b9a87d;
    font-size: x-large;
}

#car_desc {
    font-size: medium;
    font-style: italic;
}

@media screen and (max-width: 992px) {
    #gallery_car {
        flex-direction: column;
    }
}

/* copyright */

#copyright {
    text-align: center;
}

#copyright > span {
    padding: 0px 30px 0px 30px;
    background-color: white;
}

#ellipse {
    text-align: right;
    padding-right: 40px;
}
