.img_container {
    text-align: center;
}

.img_container > img {
    width: 50px;
}

.wcu_card_container {
    width: 450px;
}

.wcu_card_title {
    text-align: center;
    font-weight: bold;
}

.wcu_card_description {
    font-size: 14px;
    text-align: center;
}

.flex_container {
    display: flex;
}

#banner {
    background-image: url("../../images/hospital/nurse.png"),
        url("../../images/hospital/pattern.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:
        right bottom,
        -550px;
    background-size: 750px;

    padding-top: 80px;
    padding-bottom: 250px;
}

#banner_title {
    font-weight: bold;
    font-size: 50px;
}

#address {
}

#banner_description {
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 16px;
}

/* why choose us */

#why_choose_us {
    background-image: url("../../images/hospital/doctor.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: white;

    padding-bottom: 100px;
    padding-top: 30px;
}

#wcu_heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#wcu_container {
    display: grid;
    gap: 25px;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

#wcu_subheading {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

#operation {
    grid-column: 2;
    grid-row: 1 / 2;
}

#labour {
    grid-column: 5;
    grid-row: 1 / 2;
}

#scan {
    grid-column: 1 / span 3;
    grid-row: 3;
}

#plus {
    grid-column: 4 / span 3;
    grid-row: 3;
    justify-self: end;
}

/* speciality */

#speciality {
    background-image: url("../../images/hospital/rectangle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -375px;
    background-size: 1000px;

    height: 1200px;
}

#speciality_header {
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

#speciality_header > span {
    color: #027382;
}

#speciality_description {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

#speciality_list {
    font-size: 30px;
    color: white;
    margin-top: 75px;
    width: 50%;
}

#speciality_list_heading {
    padding-left: 15px;
}

#speciality_list_content {
    padding-left: 50px;
}

#speciality_details_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speciality_details {
    text-align: center;
    font-size: 25px;
    padding: 25px 0px 25px 0px;
}

/* what we have */

#wwh_heading {
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

#wwh_heading > span {
    color: #727272;
}

.blue_text {
    color: #027382;
}

#wwh_content li {
    list-style: none;
    background-image: url("../../images/hospital/rect_bullet.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding: 15px 0 15px 35px;
    font-size: 25px;
}

#wwh_container {
    display: flex;
}

#wwh_images > div {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* what we provide  */

#wwp_heading {
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

#wwp_heading > span {
    color: #727272;
}

#what_we_provide {
}

#wwp_container {
    display: flex;
    align-items: center;
}

#wwp_container li {
    list-style: none;
    font-size: 25px;
    padding: 8px;
}
